@using SharedClasses.Models.UserModels;
@using SharedClasses.Models.ArmyModels;

@{
    Player player = ViewBag.Player;
    Army army = ViewBag.Army;
}


@if(army is null) {
    <h1> No Army </h1>
    <a asp-controller="Dashboard" asp-action="CreateArmy">
        <button>
            Create Army
        </button>
    </a>
}


<h1>
    Army Management
</h1>
