@using SharedClasses.Models.UserModels;
@using SharedClasses.Models.ArmyModels;

@{
    Player player = ViewBag.Player;
    Army army = ViewBag.Army;
}


@if(army is null) {
    <h1> No Army </h1>
}


<h1>
    Army Management
</h1>
