@using SharedClasses.Models.UserModels;
@using SharedClasses.Models.ArmyModels;

@{
    Player player = ViewBag.Player;
    Army army = ViewBag.Army;
}


@if(army is null) {
    <h1> No Army </h1>
    <a asp-controller="Dashboard" asp-action="CreateArmy">
        <button>
            Create Army
        </button>
    </a>
}


<h1>
    Army Management
</h1>



<datalist id="LegionTypeList">
    @foreach (var country in availableCountries)
    {
        <option value="@country.Name">@country.Name</option>
    }
</datalist>





<form asp-controller="Dashboard" asp-action="CreateLegion">
    <input name="LegionType" id="LegionType" placeholder="Type of legion"></input>
        
    <button>
        Create New Legion
    </button
</form>
