@using SharedClasses.Models.CountryModels;
@using SharedClasses.Models.UserModels;

@inject IHttpContextAccessor _httpContextAccessor;

@{
    Player player = ViewBag.Player;
    List<Bank> Banks = ViewBag.Banks;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking</title>
</head>
<body>



    <h1>Banking</h1> 


    @if(Banks.Count() == 0) {
        <h2>
            No banks seem to be found :\ \n
            Create One Here
        </h2>
        <form asp-controller="Dashboard" asp-action="CreateBank" id="CreateBank">
            <input placeholder="Bank Name" id="BankName" name="BankName"></input>
            <br>
            <select size="2" id="BankType" name="BankType">
                <option id="BankLocal" name="BankLocal">Local</option>
                <option id="BankGlobal" name="BankGlobal">Global</option>
            </select>
            <br>
            <input placeholder="National Or Global Bank?" id="BankType" name="BankType"></input>
            <button>Submit</button>
        </form>
    } else {


        <ul>

            @foreach(var bank in Banks) {
                <a asp-controller="Bank" asp-action="">
                    <button>@bank.BankName</button>
                </a>
            }


        </ul>


    }




</body>
</html>
