@inject IHttpContextAccessor _httpContextAccessor
@using SharedClasses.Models.UserModels;
@using SharedClasses.Models.CountryModels;
@using MongoDB.Driver;
@{

    var user = DataBaseClient.PlayerCollection.Find(x => x.Username == 
    _httpContextAccessor.HttpContext.Session.GetString("Username")).FirstOrDefault();

    var country = DataBaseClient.CountryCollection.Find(x => x.Id == user.CountryId).FirstOrDefault();

    var Countries = DataBaseClient.CountryCollection.Find(
        Builders<Country>.Filter.Exists(x => x.Id)
    ).ToList();

    Layout = "";


}

<head>
    <style>

        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: green;
            padding: 40px;
            font-size: 25px;
        }


    </style>
</head>


<div>

<center>
    <form id="CountryInputForm" asp-controller="CountryProfile" asp-action="Index">

        <input type="text" id="CountryName" name="CountryName" list="CountriesList">
        <datalist id="CountriesList">
        @foreach(var Country in Countries)
        {
            <option value="@Country.Name">@Country.Name</option>
        }
        </datalist>
        <button>Search</button>

    </form>


</center>
</div>

<h1>@user.Name.FirstName's Dashboard</h1>

<br><br>

