@inject IHttpContextAccessor _httpContextAccessor
@using SharedClasses.Models.UserModels;
@using SharedClasses.Models.CountryModels;
@using MongoDB.Driver;
@{

    var user = DataBaseClient.PlayerCollection.Find(x => x.Username == 
    _httpContextAccessor.HttpContext.Session.GetString("Username")).FirstOrDefault();

    var country = DataBaseClient.CountryCollection.Find(x => x.Id == user.CountryId).FirstOrDefault();

    var Countries = DataBaseClient.CountryCollection.Find(
        Builders<Country>.Filter.Exists(x => x.Id)
    ).ToList();

    Layout = "";


}

<head>
    <style>
        :root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

// Setup
body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh }
html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }

// Main styles
form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
input[type="search"] {
  outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}




/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 75px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 40px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: green;
            padding: 40px;
            font-size: 25px;
        }


    </style>
</head>


<div>

<center>
    <form id="CountryInputForm" asp-controller="CountryProfile" asp-action="Index">

        <input type="search" id="CountryName" name="CountryName" list="CountriesList" placeholder="Search Country..." >
        <datalist id="CountriesList">
        @foreach(var Country in Countries)
        {
            <option value="@Country.Name">@Country.Name</option>
        }
        </datalist>

    </form>


</center>
</div>

<center>
<p>
    <a asp-controller="Dashboard" asp-action="CountrySettings">
        <button class="button-30">
            Country Settings
        </button>
    </a>
    <br>
    <a asp-controller="Dashboard" asp-action="Research">
        <button class="button-30">
            Research
        </button>
    </a>
    <br>
    <a asp-controller="Dashboard" asp-action="Banking">
        <button class="button-30">
            Banking
        </button>
    </a>
</p>
</center>
<br><br>

