.env
SharedClasses/bin
SharedClasses/obj
ConsoleUI/bin
ConsoleUI/obj
WebUI/bin
WebUI/obj
WebUI/privkey.pem
WebUI/fullchain.pem
WebUI/Properties/launchSettings2.json
WebUI/Properties/launchSettingsAlt.json
.vscode