@using SharedClasses.Models.CountryModels;

@{
    List<Country> countries = ViewBag.Countries;
}

<head>

</head>

<body>
    
    <center>
        <h2>Sign Up!</h2>

<form>
    <input type="text" placeholder="Username" id="usernameInput">
    <br>
    <input type="text" placeholder="Password" id="passwordInput">
    <br>
    <input type="text" placeholder="First Name" id="firstNameInput">
    <br>
    <input type="text" placeholder="Surname" id="surnameInput">
    <br>
    <input type="text" placeholder="Country" id="countryInput">
    <br>
    <button>Login</button>

</form>
</center>
</body>