@using SharedClasses.Models.CountryModels;

@{
    List<Country> countries = ViewBag.Countries;
}

<head>

</head>


<body>
    

    <center>
        <h2>Sign Up!</h2>


<form>
    <input type="text" placeholder="Username" id="usernameInput">
    <br>
    <input type="text" placeholder="Password" id="passwordInput">
    <br>
    <input type="text" placeholder="First Name" id="firstNameInput">
    <br>
    <input type="text" placeholder="Surname" id="surnameInput">
    <br>

    <button>Login</button>

    <br><br><br>


    <table id="CountryGrid" width="600" align="center">
        <tbody>
            <tr>
                @foreach (var country in countries)
                {
                   <td>
                    <div id="countryListItem">
                        @Html.Hidden("CountryId", country.Id);
                        @Html.Label(country.Name);
                        <input type="checkbox" name="countryCheckBox" id="countryCheckBox">
                    </div>
                   </td> 
                }
            </tr>


        </tbody>

    </table>

    <style>
        #countryListItem {
            float:left;
            font-weight: normal;
        }
    </style>






</form>


    </center>
</body>