@{
    ViewData["Title"] = "Home Page";
    var jsonString = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.valuesDictionary);
}

<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.css" rel="stylesheet">

<Body>

<input type="hidden", id="valuesDict", value="@jsonString">

<div id="svgMap"></div>

<script>


var valuesDictionary = JSON.parse(document.getElementById('valuesDict').value);




new svgMap({
  targetElementID: 'svgMap',
  colorNoData: '#000000',
    
  data: {
    data: {
      universalScore:
      {
        Score: 'Universal Score',
        format: '{0} Cookies'
      },
      name:
      {
        Username: 'Username',
        format: '{0} '
      }
    },
    applyData: 'universalScore',
    values: {
        EG: { universalScore: 53, name: "JWhite123" },
        IS: { universalScore: 25, name: "CUrsache456" }
      // ...
    }
  }
});
</script>

    
</Body>
