@{
    ViewData["Title"] = "Home Page";
}


<Body>

<h1>
  <center>
    civs.world
  </center>
</h1>

<h3>
  <center>
    <a asp-area="" asp-controller="SignUp" asp-action="SignIn">
      Sign In
    </a>
  </center>
</h3>


    
</Body>
