@{
    ViewData["Title"] = "Home Page";
}








<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.css" rel="stylesheet">

<Body>

<div id="svgMap"></div>

<script>

new svgMap({
  targetElementID: 'svgMap',
  colorNoData: '#000000',
  data: {
    data: {
      swagness:
      {
        name: 'Swagness',
        format: '{0} % Swagness'
      },
    },
    applyData: 'swagness',
    values: {
      // ...
    }
  }
});
</script>

    
</Body>
