@{
    ViewData["Title"] = "Home Page";
}

<head>
  <style>
    body
    {
        background-color: darkslategray;
    }
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
h1 {
  color: lightgray;
}
h3 {
  color: lightgray
}


</style>
</head>




<Body>
<br>
<br>
<h1 style="font-size: 75px">
  <center>
    civilisation
  </center>
</h1>
<br><br><br>
<br>
<h3>
  <center>
    <p>
      A real time strategy game.
    </p>
  </center>
</h3>

<br><br>
<h3>
<center>
    <a asp-area="" asp-controller="SignUp" asp-action="SignIn">
    <button asp-area="" asp-controller="SignUp" asp-action="SignIn" class="bn632-hover bn22">
      Log In
    </button>
    </a>

  </center>
</h3>

<br><br><br>
<br><br><br>
<br><br><br>

    
</Body>
