@using SharedClasses.Models.CountryModels;
@using SharedClasses.Models.UserModels;
@using WebUI.Models;

@{
    ViewData["Title"] = "Map";

    var jsonValues = ViewBag.Countries;

    List<CountryWithColor> countries = ViewBag.Counties;

}







<script src="~/JVectorMap/jquery.js"></script>
<link rel="stylesheet" href="~/JVectorMap/jquery-jvectormap.css">
<script src="~/JVectorMap/jvectormap.min.js"></script>

<script src="~/JVectorMap/map_miller.js"></script>


<Body>
<center>
  <div id="world-map" style="width: 1200px; height:700px"></div>
</center>

<script>

  
</script>


<script>

var values = {
  @foreach(var country in countries)
  {
    @: "@country.Code": "@country.Country",
  }
};

var scale = {
  @foreach (var country in countries)
  {
    @: "@country.Country": "@country.Color", 
  }
}



$('#world-map').vectorMap({
    map: 'world_mill',
    backgroundColor: '2f4f4f',
    zoomAnimate: true,
    regionsSelectable: true,
    series: {
      regions: [{
        values: values,
        scale: scale
      }]
    },
    onRegionTipShow: function(event, label, code) {
      label.html(label.html() + ': ' + values[code]);
    }
  });



</script>

    
</Body>
