@using SharedClasses.Models.CountryModels;
@using SharedClasses.Models.UserModels;
@using WebUI.Models;

@{
    ViewData["Title"] = "Map";

    var countriesWithColors = Country.GetCountryColour();


}







<script src="~/JVectorMap/jquery.js"></script>
<link rel="stylesheet" href="~/JVectorMap/jquery-jvectormap.css">
<script src="~/JVectorMap/jvectormap.min.js"></script>

<script src="~/JVectorMap/map_miller.js"></script>


<Body>
<center>
  <div id="world-map" style="width: 1200px; height:700px"></div>
</center>

<script>

  
</script>


<script>

var players = JSON.parse('@Html.Raw(countriesWithColors)');

var values = players.map(player => {
  return {
    isoCode: player.Country,
    color: player.Color
  };
});



$('#world-map').vectorMap({
    map: 'world_mill',
    backgroundColor: '2f4f4f',
    zoomAnimate: true,
    regionsSelectable: true,
    series: {
      regions: [{
        scale: ['#008d48'],
        normalizeFunction: 'polynomial',
        values: values
      }] 
      
    }
    
   
  });



</script>

    
</Body>
