@using SharedClasses.Models.CountryModels;
@using SharedClasses.Models.UserModels;
@using WebUI.Models;

@{
    ViewData["Title"] = "Map";

    var jsonValues = ViewBag.Countries;



}







<script src="~/JVectorMap/jquery.js"></script>
<link rel="stylesheet" href="~/JVectorMap/jquery-jvectormap.css">
<script src="~/JVectorMap/jvectormap.min.js"></script>

<script src="~/JVectorMap/map_miller.js"></script>


<Body>
<center>
  <div id="world-map" style="width: 1200px; height:700px"></div>
</center>

<script>

  
</script>


<script>

var jsonValues = @Html.Raw(jsonValues);
var values = JSON.parse(jsonValues);




$('#world-map').vectorMap({
    map: 'world_mill',
    backgroundColor: '2f4f4f',
    zoomAnimate: true,
    regionsSelectable: true,
    series: {
      regions: values.map(function(country)
      {
        return country.Code;
      }),
      regionLabel: function(name, code) {
        return name;
      }
    }
  });



</script>

    
</Body>
