@{
    ViewData["Title"] = "Map";
    var jsonString = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.valuesDictionary);
}
<script src="~/JVectorMap/jquery.js"></script>
<link rel="stylesheet" href="~/JVectorMap/jquery-jvectormap.css">
<script src="~/JVectorMap/jvectormap.min.js"></script>

<script src="~/JVectorMap/map_miller.js"></script>




<head>
  <style>
    body
    {
        background-color: darkslategray;
    }
  </style>
</head>
<Body>

<input type="hidden", id="valuesDict", value="@jsonString">
<center>
  <div id="world-map" style="width: 1200px; height:800px"></div>
</center>


<script>
console.log("Hello There");

var valuesDictionary = JSON.parse(document.getElementById('valuesDict').value);
$('#world-map').vectorMap({
    map: 'world_mill',
    backgroundColor: '2f4f4f',
    zoomAnimate: true,
    regionsSelectable: true,
    onRegionClick: function(e, code)
    {
      console.log(code);
    }
  });
/*
new svgMap({
  targetElementID: 'svgMap',
  colorNoData: '#000000',
  colorMax: '#00cc00',
  colorMin: '#99ff99',
  data: {
    data: {
      Population:
      {
        Population: 'Population',
        format: 'Population of {0}'
      },
      Name:
      {
        Username: 'Username',
        format: 'Occupied by {0}'
      }
    },
    applyData: 'Population',
    values: valuesDictionary
  }
});
*/
</script>

    
</Body>
